
contextily_cache/contextily/tile/_fetch_tile/3011524783c4b4b4c092b9ac069fea1c/output.pkl
contextily_cache/contextily/tile/_fetch_tile/0b7895fa335e426a8aa6f2e9ce73c22a/output.pkl
*.pkl
*.json

# generated GeoPackage from merge_slr_sat.py (huge, ~1.7 GB)
outputs/all_merged.gpkg

