
contextily_cache/contextily/tile/_fetch_tile/3011524783c4b4b4c092b9ac069fea1c/output.pkl
contextily_cache/contextily/tile/_fetch_tile/0b7895fa335e426a8aa6f2e9ce73c22a/output.pkl
*.pkl
#*.json

outputs/ 
# Ignore generated original time-series plot artifacts
/original_plots_ts/
original_plots_ts/**
postprocessing/coverage_results
# generated GeoPackage from merge_slr_sat.py (huge, ~1.7 GB)
outputs/all_merged.gpkg

contextily_cache/contextily/tile/_fetch_tile/0b7895fa335e426a8aa6f2e9ce73c22a/metadata.json
contextily_cache/contextily/tile/_fetch_tile/1056ca8698f2407f43d1cdebd115f694/metadata.json
contextily_cache/contextily/tile/_fetch_tile/3011524783c4b4b4c092b9ac069fea1c/metadata.json
contextily_cache/contextily/tile/_fetch_tile/41fa3e4f9beed254c767c3d5dce91a08/metadata.json
contextily_cache/contextily/tile/_fetch_tile/4f5b06fbc7fcc65bd923dea899141c2d/metadata.json
contextily_cache/contextily/tile/_fetch_tile/84ddfc261c1ffea06e2563490f095e30/metadata.json
data/projections.json
data/projections_Wellington.json
*.png
*.json
data/projections_details.zip
